---
layout: default
title: Cursos e Mentorias
---

<!-- Home Jumbotron
================================================== -->    
<section class="featured-posts">
    <div class="section-title">
        <h1>Curso de Instagram Ads</h1>
        <h2 class="lead">Quer aumentar suas vendas através do Instagram? Entenda as métricas do Instagram e desenvolva uma estratégia de sucesso para o seu negócio. Curso de <b>2 horas</b>  ministrado em Parceria com Tg Marketing. Curso direcionado e diferenciado para cada cliente</h2>    
        <a href="https://api.whatsapp.com/send?phone=5511951149063&text=Oi%20vi%20seu%20perfil%20no%20Instagram%20e%20gostaria%20de%20saber%20mais%20sobre%20os%20cursos" class="btn">Saiba Mais</a>
    </div>
</section>


<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Cursos Novos</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>

