<div class="hero" style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0, #fff 90%), url({{"/images/" | prepend: site.baseurl | append : site.hero}})">
  <div class="hero-content">
    <div class="hero-title">{% if site.hero-title %}{{site.hero-title}}{% else %}<span>#MENTORIAS</span>{% endif %}</div>
    <h1 class="hero-description">{% if site.hero-description %}{{site.hero-description}}{% else %}As Mentorias para Estudantes de Marketing Digital voltaram! Garanta sua Vaga{% endif %}</h1>
    </br>
    <div class="mw6 center tc contactbox">
            <h3><a class="no-underline tcblack" href="https://www.instagram.com/fabiolafaria_">Quero Mentoria</a></h3>
    </div>
  </div>
    
</div> <!-- /.hero -->