{% include head.html %}

{% include ga.html %}

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

{% include header.html %}

    
<!-- End Menu Navigation
================================================== -->
    
<div class="site-content">
    
    <div class="container">

    <!-- Site Title
    ================================================== -->

    <div class="mainheading" style="display:none;">
        <h1 class="sitetitle">{{ site.name }}</h1>
        <p class="lead">
             {{ site.description }}
        </p>
    </div>


    <!-- Content
    ================================================== --> 
    <div class="main-content">
        {{ content }}
    </div>

    </div><!-- /.container --> 



    <!-- Before Footer
    ================================================== --> 
    {% include whatsbox.html %}
    
    {% include footer.html %}
    
</div> <!-- /.site-content>

<!-- JavaScript
================================================== -->
{% include scripts.html %}    
  
    
</body>
    
</html>